.Auth {
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 4px solid #eee;
  box-sizing: border-box;
}
/* form {
    display: flex;
    flex-direction: column;
  }
  form input {
    padding: 10px 50px;
    margin: 10px 0;
  } */

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
